.banner {
	max-width: $banner-footer-width;
	height: $banner-height;
	background-image: linear-gradient(rgba($site-black, .5), rgba($site-black, .5)), url(../images/hero2.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin: -80px auto 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;

	.title {
		height: 73px;
		width: 179px;
		font-size: 60px;
		margin-top: 172px;
		color: white;
		font-family: proximanova;
	}

	.text {
		height: 50px;
		width: 714px;
		font-size: 20px;
		color: white;
		text-align: center;
		font-family: gill_sans;
	}

	.readMore {
		height: 40.04px;
		width: 121.62px;
		background-color: $site-blue;
		margin-top: 60px;
		font-size: 15px;
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: gill_sans;
	}
}
